
$fontTextP : 'Poppins', sans-serif;
$fontTextM : 'Montserrat', sans-serif;



.containerContact {
    background-color: #7C76BB;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    align-items: center;
    height: 30px;
    font-family: $fontTextP;
    font-size: 15px;
    font-weight: lighter;
}
header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: #fff;
    .navContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        img {
            height: 50%;
    
        }
        nav {
            display: flex;
            width: 30%;
            justify-content: space-between;
            align-items: center;
            .navText {
            font-size: 24px;
            font-weight: 500;
            color: #7C76BB;
            font-weight: 100;
            font-family: $fontTextP;
            a {
                text-decoration: none;
            }
        }
        a {
            // BUTTON CONTACT DISPONIBLE EN buttoncontact.scss
            // .contactButton {
            //     border-style: solid;
            //     height: 50px;
            //     width: 140px;
            //     border-radius: 10px;
            //     font-weight: 700;
            //     font-family: $fontTextP;
            //     font-size: 15px;
            //     color: #fff;
            //     transition: all 0.3s ease-in-out;
            //     background-color: #7C76BB;
            // }
            // .contactButton:hover {
            //    cursor: pointer;
            //    background-color: #fff;
            //    color: #7C76BB;
            // }
        }    }
    }
}

.navLink::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #7C76BB;
    transition: width .3s;
}

.navLink:hover::after {
    width: 100%;
    transition: width .3s;
}