// Efecto parallax
.parallax {
    background-image: url(../img/header_background_placeholder.jpg);
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
  }

$fontTextP : 'Poppins', sans-serif;
$fontTextM : 'Montserrat', sans-serif;

.mainSection {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  font-family: $fontTextP;
  color: #fff;
  text-align: center;
  .title {
    font-size: 75px;
    font-weight: bold;
    width: 40%;
    }
}
.secondSection {
  height: 400px;
  font-family: $fontTextP;
  background-color: #444;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  p {
    font-size: 20px;
    color: #fff;
    width: 25%;
    text-align: right;
  }
  .somos{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    gap:2em;

    > .title, h2{
    text-align: left;
    }
    .title {
      font-size: 2rem;
      font-weight: bold;
      color: #fff;
      }
      h2 {
        font-size: 1rem;
        font-weight: 100;
        color: #a5a0a0;
      }
  }
}
.second.parallax {
  background-image: url(../img/header_background_placeholder2.jpg);
  min-height: 800px;
  .floatingSection {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  .innerBox{
    background-color: #7c76bb;
    width: 85%;
    height: 80%;
    border-radius: 5px;
    box-shadow:  2px 2px 10px #00000044,
              -2px -2px 10px #00000044;
    display: grid;;
    grid-template-columns: auto auto auto;
    }
  .boxGrid {
    background-color: #8984c0;
    border: 1px dotted rgba(0, 0, 0, 0.8);
    font-size: 30px;
    display: flex;
  }
  }
}