.containerContact {
  background-color: #7C76BB;
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  align-items: center;
  height: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: lighter;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: #fff;
}
header .navContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
header .navContainer img {
  height: 50%;
}
header .navContainer nav {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
}
header .navContainer nav .navText {
  font-size: 24px;
  font-weight: 500;
  color: #7C76BB;
  font-weight: 100;
  font-family: "Poppins", sans-serif;
}
header .navContainer nav .navText a {
  text-decoration: none;
}
.navLink::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #7C76BB;
  transition: width 0.3s;
}

.navLink:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.parallax {
  background-image: url(../img/header_background_placeholder.jpg);
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.mainSection {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-align: center;
}
.mainSection .title {
  font-size: 75px;
  font-weight: bold;
  width: 40%;
}

.secondSection {
  height: 400px;
  font-family: "Poppins", sans-serif;
  background-color: #444;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.secondSection p {
  font-size: 20px;
  color: #fff;
  width: 25%;
  text-align: right;
}
.secondSection .somos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  gap: 2em;
}
.secondSection .somos > .title, .secondSection .somos h2 {
  text-align: left;
}
.secondSection .somos .title {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}
.secondSection .somos h2 {
  font-size: 1rem;
  font-weight: 100;
  color: #a5a0a0;
}

.second.parallax {
  background-image: url(../img/header_background_placeholder2.jpg);
  min-height: 800px;
}
.second.parallax .floatingSection {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.second.parallax .floatingSection .innerBox {
  background-color: #fff;
  width: 80%;
  height: 70%;
  border-radius: 15px;
  box-shadow: inset 10px 10px 15px rgba(0, 0, 0, 0.5568627451), inset -10px -10px 15px rgba(0, 0, 0, 0.5568627451);
}

.contactButton {
  border-style: solid;
  height: 50px;
  width: 140px;
  border-radius: 10px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #fff;
  transition: all 0.3s ease-in-out;
  background-color: #7c76bb;
}

.contactButton:hover {
  cursor: pointer;
  background-color: #fff;
  color: #7c76bb;
}

.alternativeButton.contactButton {
  border-style: solid;
  height: 50px;
  width: 140px;
  border-radius: 10px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #7c76bb;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.alternativeButton.contactButton:hover {
  cursor: pointer;
  background-color: #7c76bb;
  color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  background-color: beige;
}/*# sourceMappingURL=main.css.map */