
// HEADER STYLES

@use 'headerStyle';
@use 'mainBody';
@use 'buttonContact';


// general
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}
body {
    background-color: beige;
}
